* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth;
}
body {
  font-family: "Tajawal", sans-serif;
}
.nav_part1 {
  display: flex;
  background-color: #00acb9;
  flex-direction: row-reverse;
  gap: 2%;
}
.nav_dif {
  color: black;
}
.nav_dif:hover {
  color: #00acb9;
}
.nav_part1 a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  padding-right: 0.5rem;
  font-weight: 800;
  font-size: 1rem;
}
a svg {
  width: 1rem;
  height: 1rem;
  background-color: white;
  margin-left: 0.25rem;
  border: 1px solid transparent;
  border-radius: 0.1rem;
}
.mailimg {
  width: 1rem;
  height: 1rem;
  background-color: #00acb9;
}
.location_img {
  background-color: transparent;
}
.appoinment {
  background-color: transparent;
  color: white;
  border: 1px solid transparent;
  font-size: 1rem;
  margin-right: 50%;
  font-weight: bold;
  padding: 1.5rem 0rem 1.5rem 0rem;
}

.appoinment:hover {
  background-color: white;
  color: #00acb9;
  border-radius: 10px;
}

.nav_part2 {
  padding-top: 1rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}
.dentin_logo {
  width: 13.5rem;
  height: 4.75rem;
}
ul {
  width: 35%;
  display: flex;
  gap: 5%;
  justify-content: center;
  flex-direction: row-reverse;
  list-style: none;
  font-weight: 600;
}
li a {
  text-decoration: none;
}
li a:hover {
  text-decoration: none;
  color: black;
}
.text_decor {
  text-decoration: none;
  color: #00acb9;
}
.nav_grandchild a {
  padding-right: 1rem;
  text-decoration: none;
}
.social_media {
  width: 2rem;
  height: 2rem;
}

.social_media:hover {
  width: 2rem;
  height: 2rem;
  border: 5px solid black;
  border-radius: 50%;
  background-color: black;
  fill: white;
}
.nav_part3 {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  height: 76vh;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 9rem;
  align-items: flex-end;
  border: 0px solid transparent;
  border-radius: 0px 0px 30% 30%;
  background-image: url(./pexels-gustavo-fring-3985298-scaled.jpg);
}
.part3_child {
  display: flex;
  padding-right: 1.5rem;
  justify-content: center;
  gap: 3rem;
  align-items: center;
  padding: 1rem 11.5rem 0rem 0rem;
}
.october_offers {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  background-color: #00acb9;
  color: white;
  padding: 1.5rem 3rem;
  text-decoration: none;
  font-size: 2rem;
}
.october_offers svg {
  width: 2rem;
  height: 2rem;
  padding-right: 0.5rem;
  background-color: transparent;
  fill: white;
}
.header_text {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  width: 56rem;
  text-align: right;
  padding-right: 11.5rem;
  text-shadow: 0px 2px black;
}
.header_text2 {
  font-size: 1.5rem;
  color: white;
  width: 36rem;
  font-weight: 500;
  padding: 1rem 0rem;
  text-align: right;
  padding-right: 11.5rem;
}
.nav_part4 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  margin-top: -10rem;
  padding-right: 1.2rem;
}
.part4_child {
  background-color: white;
  width: 55rem;
  height: 14.5rem;
  padding-top: 3rem;
  padding-right: 1rem;
  text-align: right;
  color: #00acb9;
  font-size: 2rem;
  font-weight: bold;
  box-shadow: 0px 1px 4px 0px black;
}
.part4_child1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 31.87rem;
  height: 14.5rem;
  background: linear-gradient(rgba(27, 40, 71, 0.9), rgba(27, 40, 71, 0.9)),
    url(./5acf494d7aab3.jpg);
  background-size: cover;
  background-position: center;
}

.part4_child1 a {
  width: 20rem;
  font-size: 2rem;
  padding: 0.75rem 0rem 0.75rem 0rem;
  color: white;
  background-color: #00acb9;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}
.part4_child1 span {
  padding-top: 0rem;
  color: white;
}
.section_2 {
  margin-top: 5rem;
}
.image-gallery {
  display: flex;
  width: 100%;
  height: 300px;
}

.image-container {
  flex: 1;
  position: relative;
  overflow: hidden;
  transition: flex 0.3s ease-in-out;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}
.image-container .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.overlay .headline {
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 5px;
}
.overlay .description {
  font-size: 1em;
  max-width: 80%;
  line-height: 1.4;
}
.image-container:hover {
  flex-grow: 2;
}

.image-gallery:hover .image-container:not(:hover) {
  flex-grow: 0.8;
}

.image-container:hover img {
  transform: scale(1.1);
}

.image-container:hover .overlay {
  opacity: 1;
}

.sec2_child {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
  flex-direction: column;
}
.sec2_child svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: #00acb9;
}
.sec2_head {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 1rem;
}
.sec2_head::before {
  color: #000000;
  content: "";
  height: 5px;
  width: 200px;
  border-bottom: 3px solid #010101;
  position: absolute;
  display: block;
  margin: 4.35rem 0rem 0rem 12.5%;
}
.star {
  width: 2rem;
  height: 2rem;
  margin: 1.2rem 0rem 0rem;
  fill: #00acb9;
}

.star::before {
  color: #000000;
  content: "";
  height: 5px;
  width: 200px;
  border-bottom: 3px solid #010101;
  position: absolute;
  display: block;
  margin: 4.3rem 0rem 1rem 200%;
}
.sec2_head::after {
  color: #000000;
  content: "";
  height: 5px;
  width: 200px;
  border-bottom: 3px solid #010101;
  position: absolute;
  display: block;
  margin-bottom: 1rem;
  margin-top: 1.4rem;
  margin-left: -2.5%;
}
.sec3 {
  display: flex;
  flex-direction: row-reverse;
  background-color: #00acb9;
  margin-top: 4.5rem;
  justify-content: space-around;
  align-items: center;
  padding: 10rem 0rem 10rem 0rem;
}
.sec3 span {
  text-align: center;
  font-size: 2rem;
  color: white;
  font-weight: 500;
}
.sec4_parent {
  display: flex;
  justify-content: center;
  width: 100%;
}
.sec4 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-top: -4%;
  margin-bottom: 10rem;
  box-shadow: 0px 8px 13px 1px rgba(0, 0, 0, 0.3);
  width: 80%;
}
.sec4 iframe {
  width: 60%;
}
.sec4_child {
  display: flex;
  text-align: right;
  flex-direction: column;
  gap: 2rem;
  background-color: white;
  width: 40%;
  padding: 2rem 2rem 0rem 0rem;
}
.sec4_head {
  font-size: 2rem;
  color: #00acb9;
  font-weight: 600;
  margin-bottom: 3rem;
}
.sec4_grandchild {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}
.sec4_grandchild svg {
  width: 2rem;
  height: 2rem;
  fill: #00acb9;
}
.sec4_grandchild span {
  font-size: 1.5rem;
}
.sec4_grandchild + a {
  color: #1b2847;
  text-decoration: none;
  text-align: left;
  font-size: 1.25rem;
}
.blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.blog_header {
  font-size: 2rem;
  font-weight: 600;
  color: #00acb9;
  text-align: center;
}
.blog span {
  font-size: 2.5rem;
  font-weight: 600;
}
.heart {
  width: 2rem;
  height: 2rem;
  fill: #00acb9;
}

.blog_child {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
  gap: 4%;
  flex-wrap: wrap;
}
.blog_child a {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: auto;
  padding: 1rem;
  font-size: 1rem;
  box-shadow: 0px 1px 12px 0px black;
  text-decoration: none;
  color: rgb(184, 184, 184);
}
#article_head {
  font-size: 1rem;
  text-decoration: none;
  text-align: right;
  padding: 0.5rem 0rem;
  font-weight: 400;
  
}
.article_head:hover {
  color: #0873de;
}
.atricle_headv2 {
  font-weight: 900 !important;
}
.different_blog {
  padding-bottom: 2rem !important;
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 9rem;
  gap: 10rem;
}
.contact_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 50%;
  height: 12vw;
}
.contact span {
  font-size: 2rem;
  color: #00acb9;
  font-weight: 600;
  margin-bottom: 3rem;
}
.form_name,
#clinics {
  font-size: 1.5rem;
  text-align: right;
  margin-top: 1rem;
  width: 100%;
  padding: 1rem 0.5rem 1rem 0rem;
  border: 1px solid #092b6a;
  border-radius: 10px;
  opacity: 0.8;
}
.labels {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
}
form button {
  width: 100%;
  padding: 1.5rem 0rem;
  margin-top: 5rem;
  color: white;
  background-color: #1ab4d0;
  border: 1px solid transparent;
  border-radius: 10px;
  font-size: 1.5rem;
}
.contact svg {
  margin-top: 5rem;
}
footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  gap: 0rem;
  margin-top: 5rem;
}
footer span {
  color: #00acb9;
}
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
}
.about div {
  display: flex;
  flex-direction: column;
  text-align: right;
  width: 40%;
  align-items: end;
}
.breif {
  color: #454848bc;
  font-size: 2rem;
  margin: 1rem 0rem 0.2rem;
  font-weight: bold;
}
.about p {
  width: 100%;
}
.about img {
  width: 40%;
}
.breif_fakeelemnt {
  width: 3rem;
  height: 0rem;
  margin: 0rem 0rem 0.75rem 0rem;
  border-bottom: 2px solid #454848bc;
}
.blog_special a {
  margin-bottom: 2rem;
  height: 30vw;
}
.drs_head {
  width: 100%;
  padding: 14rem 0rem 15rem 0rem;
  text-align: center;
  font-size: 3rem;
  color: #00acb9;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  background-color: #e1e5f7;
}
.drs-fakeelement {
  width: 10%;
  border-bottom: 3px solid black;
  margin: 1.5rem 0rem 0rem 0rem;
}
.drs_profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5%;
  margin-top: 5rem;
}
.drs_profilechild {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.drs_profilechild img {
  width: 20rem;
  height: 20rem;
  border: 0px solid transparent;
  border-radius: 50%;
  box-shadow: 0px 0px 17px black;
}
.drs_profilechild span {
  font-size: 1.5rem;
}
.dr_name {
  font-size: 2rem;
  font-weight: 900;
  padding: 1rem 0rem;
}
.mandr {
  margin-top: 5rem;
}
.library_head {
  display: flex;
  flex-direction: column;
  padding: 9rem;
}

.library_head::after {
  width: 5%;
  left: 47.5%;
  top: 42%;
}
.library_quote {
  display: flex;
  flex-direction: column;
}
.library_head span:nth-child(1) {
  padding-bottom: 25rem;
}
.library_head span:nth-child(2) {
  color: rgb(103, 32, 170);
  font-size: 1.5rem;
  font-weight: normal;
}
.library_head span:nth-child(3) {
  font-size: 3rem;
  color: black;
  font-weight: bold;
}
.Memories::after {
  content: "";
  position: absolute;
  border-bottom: 3px solid black;
  width: 5%;
  left: 47.5%;
  top: 96%;
}

@media (min-width: 320px) and (max-width: 425px) {
  /* #mySideNav{
    display: contents;
  } */
  .appoinment,
  .nav_part2 {
    display: none !important;
  }
  .nav_part1 {
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
  }
  .nav_part1 a {
    margin: 0.5rem;
  }
  .nav-open-btn {
    position: absolute;
    top: 12.15%;
    left: 20px;
    font-size: 30px;
    cursor: pointer;
    z-index: 1;
    background: none;
    border: none;
    color: #00acb9;
  }

  /* Side navbar styles */
  .side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #2c3e50;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
  }

  .side-nav a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #ecf0f1;
    display: block;
    transition: 0.2s;
  }

  .side-nav a:hover {
    background-color: #34495e;
    color: #fff;
  }

  .side-nav .close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #ecf0f1;
    cursor: pointer;
  }

  /* Overlay when navbar is open */
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  .nav_part5 {
    width: 100%;
    display: flex;
    height: auto;
    justify-content: flex-end;
  }
  .nav_part5 img {
    width: 50%;
    margin: 1rem 0rem 0rem 0rem;
  }
  .header_text {
    width: 17rem;
    padding-right: 0.5rem;
    font-size: 1rem;
  }
  .header_text2 {
    font-size: 1rem;
    width: 17rem;
    padding: 1rem 0rem;
    padding-right: 0.5rem;
  }
  .part3_child {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 1.5rem;
    gap: 1rem;
    padding: 1rem 0.5rem 0rem 0rem;
  }
  .october_offers {
    flex-direction: row-reverse;
    justify-content: center;
    text-align: end;
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
  }
  .part4_child {
    display: none;
  }
  .nav_part3 {
    margin-top: 1rem;
    height: 45vh;
    padding-top: 4rem;
    border-radius: 0px;
  }
  .nav_part4 {
    margin: 0px;
    padding: 0px;
  }
  .part4_child1 span {
    text-align: center;
    font-size: 10px;
  }
  .part4_child1 a {
    width: 14rem;
    font-size: 1rem;
  }
  .section_2 {
    display: none;
  }
  .sec2_head {
    font-size: 1.25rem;
  }
  .sec2_child {
    margin-bottom: 2rem;
  }
  .sec2_head::after {
    width: 100px;
  }
  .sec2_head::before {
    width: 100px;
    margin: 3.2rem 0rem 0rem 47.5%;
  }
  .image-gallery {
    height: 100px;
  }
  .sec3 {
    margin-top: 1.5rem;
  }
  .sec3 {
    flex-direction: column;
    margin-top: 1.5rem;
    gap: 4rem;
    padding: 2rem 0rem 3rem 0rem;
  }
  .sec4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3rem;
  }
  .sec4_head {
    margin-bottom: 0rem;
    font-size: 1.25rem;
  }
  .sec4_grandchild {
    gap: 0.5rem;
  }
  .sec4_grandchild svg {
    width: 1rem;
    height: 1rem;
  }
  .sec4_child {
    width: 100%;
    margin-bottom: 1rem;
  }
  .sec4_grandchild span {
    font-size: 1rem;
    font-weight: 700;
  }
  .sec4_grandchild + a {
    color: #1b2847;
    text-decoration: none;
    text-align: left;
    font-size: 1rem;
  }
  .sec4 iframe {
    width: 100%;
  }
  .blog_child {
    gap: 2rem;
  }
  .blog span {
    font-size: 1.25rem;
  }
  .blog_child a {
    width: 82%;
  }
  .contact {
    margin-top: 3rem;
  }
  .contact {
    gap: 18rem;
  }
  .dentin_logo {
    width: 4.5rem;
    height: 1.75rem;
  }
  .social_media {
    width: 1rem;
    height: 1rem;
  }
  footer span {
    font-size: 10px;
    width: 25%;
  }
  .nav_grandchild a {
    padding-right: 0rem;
  }
  .about img {
    width: 80%;
  }
  .about div {
    width: 80%;
  }
  .drs_head {
    margin: 1rem 0rem 0rem 0rem;
    padding: 8rem 0rem 9rem 0rem;
}
.drs_head {
  font-size: 2rem;
}
.drs-fakeelement {
  width: 50%;
}
.drs_profilechild img {
  width: 15rem;
  height: 15rem;
}
.drs_profilechild {
  margin: 0rem 0rem 2rem 0rem;
}
.mandr{
  margin-top: 0rem;
}
.blog_special a {
  margin-bottom: 2rem;
  height:auto;
}
}
@media (min-width: 768px) and (max-width: 1023px) {
  .appoinment {
    margin-right: 25%;
    margin: 10px 25% 10px 10px;
    padding: 1rem 1rem 1rem 1rem;
  }
  .dentin_logo {
    width: 9.5rem;
    height: 3.75rem;
  }
  ul {
    width: 50%;
    gap: 4%;
  }
  .nav_grandchild {
    width: 17%;
  }
  .social_media {
    width: 1.5rem;
    height: 1.5rem;
  }
  .nav_grandchild a {
    padding-right: 0.5rem;
  }
  .header_text {
    font-size: 2rem;
    width: 38rem;
    padding-right: 2.5rem;
  }
  .header_text2,
  .part3_child {
    padding-right: 2.5rem;
  }
  .october_offers {
    padding: 1rem 2rem;
  }
  .part4_child {
    width: 22rem;
    height: 10.5rem;
    padding-top: 1.5rem;
    padding-right: 1rem;
  }
  .part4_child1 {
    width: 21.87rem;
    height: 10.5rem;
  }
  .part4_child1 a {
    width: 16rem;
    font-size: 1.5rem;
  }
  .part4_child1 span {
    text-align: center;
  }
  .sec2_head::before {
    margin: 4.3rem 0rem 0rem 28%;
  }
  .image-gallery {
    height: 190px;
  }
  .sec3 {
    padding: 6rem 0rem 6rem 0rem;
  }
  .sec3 span {
    font-size: 1.5rem;
  }
  .sec4 {
    width: 90%;
  }
  .sec4_head {
    font-size: 1.5rem;
  }
  .sec4_grandchild svg {
    width: 1.5rem;
    height: 1.5rem;
  }
  .sec4_grandchild span {
    font-size: 1rem;
    font-weight: 700;
  }
  .sec4_grandchild + a {
    font-size: 1rem;
  }
  .contact span {
    margin-bottom: 10rem;
  }
  .contact svg {
    margin-top: 11rem;
  }
  #mySideNav,
  .nav-open-btn {
    display: none;
  }
  .nav_part5 img {
    display: none;
  }
  .drs_profilechild {
    margin: 0rem 0rem 3rem 0rem;
}
.mandr {
  margin-top: 0rem;
}
.blog_special a {
  margin-bottom: 2rem;
  height: 90vw;
}

}
@media (min-width: 1024px) and (max-width: 1439px) {
  .appoinment {
    margin-right: 45%;
  }
  .dentin_logo {
    width: 10.5rem;
    height: 3.75rem;
  }
  .list {
    width: 44% !important;
  }
  .social_media {
    width: 1.5rem;
    height: 1.5rem;
  }
  .part4_child1 {
    width: 25.87rem;
    height: 14.65rem;
  }
  .part4_child {
    width: 30rem;
  }
  .sec2_head::before {
    margin: 4.35rem 0rem 0rem 21.5%;
  }
  .image-gallery {
    height: 206px;
  }
  .sec4 {
    width: 90%;
  }
  .contact span {
    margin-bottom: 8rem;
  }
  .contact svg {
    margin-top: 10rem;
  }
  #mySideNav,
  .nav-open-btn {
    display: none;
  }
  .nav_part5 img {
    display: none;
  }
  .drs_profilechild {
    margin: 0rem 0rem 3rem 0rem;
}
.mandr {
  margin-top: 0rem;
}
.blog_special a {
  margin-bottom: 2rem;
  height: 58vw;
}
}
@media (min-width: 1440px) and (max-width: 1900px) {
  .nav_part4 {
    padding: 0px;
  }
  .part4_child {
    width: 43rem;
  }
  .sec2_head::before {
    margin: 4.3rem 0rem 0rem 16%;
  }
  .blog_child1,
  .blog_child2,
  .blog_child3 {
    height: 78vh !important;
  }
  .contact span {
    margin-bottom: 7rem;
  }
  .contact svg {
    margin-top: 8rem;
  }
  .nav_part3 {
    height: 86vh;
  }
  #mySideNav,
  .nav-open-btn {
    display: none;
  }
  .nav_part5 img {
    display: none;
  }
  .about div {
    width: 40%;
  }
  .dr-dalia {
    margin-top: 5rem;
  }
  .blog_special a {
    margin-bottom: 2rem;
    height: 38vw;
}
}
@media (min-width: 1901px) and (max-width: 2560px) {
  #mySideNav,
  .nav-open-btn {
    display: none;
  }
  .nav_dif,
  .text_decor {
    font-size: 1.5rem;
  }
  .nav_part5 img {
    display: none;
  }
}
